deploy/n8n/workflows/alert-pipeline.json
{
  "name": "Alert Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/grafana-doris",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "56e2b063-d81b-4bf9-a617-85646773586b",
      "name": "Webhook",
      "webhookId": "11fbf571-7412-4d5a-99a0-6c5f4340ce21"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HERMES_WEBHOOK_URL || 'http://localhost:8644/webhooks/alert-receiver' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Signature",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payloadStr }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "2edafa1a-6a52-4183-9b6f-afba4b48ed52",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        0
      ],
      "id": "e36c6715-1813-403f-a492-c7ba7b866bbd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8abadf4d-124e-4abe-92ae-0efedb1ad6d4",
              "name": "payloadStr",
              "value": "=JSON.stringify($json)",
              "type": "string"
            },
            {
              "id": "302741d9-e7da-463c-a610-4eebffdf69de",
              "name": "payloadObj",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "b6cb46f0-0219-4c80-b9d6-0a49c72798c4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.payloadStr }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "936c9fe6-204c-40b7-b55c-c11eb2e01dd2",
      "name": "Crypto",
      "credentials": {
        "crypto": {
          "id": "zc6cTbz7R0N65ehD",
          "name": "Crypto account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 容器日志采集 - 通过 Docker API 获取\n    const http = require('http');\n    \n    const containerName = process.env.MONITOR_CONTAINER || 'doris-standalone';\n    const tailLines = 100;\n    \n    // 调 Docker Engine API 取日志\n    function callDocker(socketPath, path) {\n      return new Promise((resolve, reject) => {\n        const options = { socketPath, path, method: 'GET' };\n        const req = http.request(options, (res) => {\n          let data = '';\n          res.on('data', (chunk) => { data += chunk; });\n          res.on('end', () => resolve(data));\n        });\n        req.on('error', (err) => reject(err));\n        req.end();\n      });\n    }\n    \n    try {\n      // 采集容器日志\n      const logs = await callDocker('/var/run/docker.sock',\n        /containers/${containerName}/logs?stdout=true&stderr=true&tail=${tailLines}&timestamps=true);\n    \n      // 获取容器状态\n      const infoRaw = await callDocker('/var/run/docker.sock',\n        /containers/${containerName}/json);\n      const info = JSON.parse(infoRaw);\n    \n      // 返回增强后的 payload\n      return [{\n        json: {\n          ...items[0].json,\n          _containerLogs: logs,\n          _containerStatus: info.State.Status,\n          _containerStartedAt: info.State.StartedAt\n        }\n      }];\n    } catch (err) {\n      // 日志采集失败不阻塞告警\n      return [{\n        json: {\n          ...items[0].json,\n          _containerLogs: Log collection failed: ${err.message},\n          _containerLogsError: true\n        }\n      }];\n    }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "d8720182-b667-4398-bce0-c84b134875c7",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bda35940-966b-4b49-9603-c2a83ecb92ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9670478684a3930306617b540aec352e19e12f5f7745858463aff2267da34c8b"
  },
  "id": "y9V8iJ76MzdcUOaH",
  "tags": []
}